.build/
.deps/
.libs/
node_modules/

/.svn/
/autom4te.cache/
/m4/

*~
*.la
*.lo
*.o
*.wasm
*.wasm.map
.dirstamp
Makefile
Makefile.in

/a.out.js
/a.out.wasm
/a.wasm
/a.wasm.map
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/cli/parse.cc
/cli/parse.h
/cli/parse.output
/cli/scan.cc
/depcomp
/doc/gpsim.html.LyXconv/gpsim.html
/doc/gpsim.pdf
/doc/gpsim.ps
/gpsim.spec
/gpsim/gpsim.h
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/ylwrap
/webui/src/gpsim/gpsim_wasm.*
